/*SA*/
.root{
    -fx-font-size: 14;
    -fx-font-family: "Comic Sans MS";
}
.backgroundTeaGreen{
    -fx-background-color: #d0e3c4;
}
.backgroundOlivine{
    -fx-background-color: #ADC698;
}
.backgroundCeladon{
    -fx-background-color: #B0E3C9;
}
.backgroundWhite{
    -fx-background-color: #FFFFFF;
}
.titel{
    -fx-font-size: 20;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
}
.standardButton{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
    -fx-background-color: #B0E3C9;
}
.darkerButton{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1a1f16;
    -fx-background-color: #adc698;
}
.textFieldOne{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
}
.standardLabel{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
    -fx-border-radius: 2;
    -fx-border-color: #1A1F16;
}
/*GEFP-25-SA*/
.standardLabelNoBorder{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
}
/*SA*/
.columnV{
    -fx-border-radius: 2;
    -fx-border-color: #1A1F16;
}
/*GEFP-25-SA*/
.list-cell:even{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
    -fx-background-color: #ffffff;

}
.list-cell:odd{
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
    -fx-text-fill: #1A1F16;
    -fx-background-color: #E4FFF1;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected{
    -fx-background-color: #ADC698;
    -fx-text-fill: #1A1F16;
}
/*GEFP-34-SA*/
.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-background-color: linear-gradient(#d0e3c4 0%,#B0E3C9 100%);
    -fx-font-size: 14.5;
    -fx-font-family: "Bell MT";
}
.table-view .filler{
    -fx-background-color: linear-gradient(#d0e3c4 0%,#B0E3C9 100%);
}
.table-view .table-cell{
    -fx-text-fill: #1A1F16;
    -fx-font-size: 14;
    -fx-font-family: "Bell MT";
}
.table-row-cell:odd{
    -fx-background-color: #E4FFF1;
}
.table-row-cell:even{
    -fx-background-color: #ffffff;
}
.table-row-cell:selected{
    -fx-background-color: #adc698;

}
